<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ArcServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ArcServer.Settings2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ArcServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="Dx"/>
  <connectionStrings>
    <add name="ArcEngine.Properties.Settings.ArcDbConnectionString" connectionString="Data Source=|DataDirectory|\ArClusterDb.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ArcEngine.Properties.Settings.ArcPvtDbConnectionString" connectionString="Data Source=|DataDirectory|\ArClusterPvtDb.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="qslinfoSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IArxWebService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>        
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.qslinfo.de/qslinfo.asmx" binding="basicHttpBinding" bindingConfiguration="qslinfoSoap" contract="QslInfo.qslinfoSoap" name="qslinfoSoap"/>
      <endpoint address="http://ab5k.net/ArxWebServices/ArxWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArxWebService" contract="ArxWebService.IArxWebService" name="BasicHttpBinding_IArxWebService"/>      
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <ArcServer.Properties.Settings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </ArcServer.Properties.Settings>
    <ArcServer.Settings2>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </ArcServer.Settings2>
    <ArcServer.Settings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
    </ArcServer.Settings>
  </userSettings>
</configuration>
